// index_area
article.activity_list
  include ../widget/recent_entry_list
  include ../widget/tumblr
  hr.both
  include ../widget/recent_comment_list
  include ../widget/link_list
// /index_area
//- vim:set expandtab fenc=utf8 sw=2 sts-2
