main
  include main/index_area
  include main/permanent_area
  include main/edit_area

  // date_area
  include main/entry_list_area
  // /date_area
  // category_area
  include main/entry_list_area
  // /category_area
  // search_area
  include main/entry_list_area
  // /search_area
  // tag_area
  include main/entry_list_area
  // /tag_area
  
//- vim:set expandtab fenc=utf8 sw=2 sts-2
