article.entry_list
  //- h1 Related Entries
  h1!= title
  .table
    // topentry
    .row.clearfix
      .thumbnail
        a(href!="<%topentry_link>")
          <%topentry_image_w300>
      .text
        a(href!="<%topentry_link>")
          .meta.color_font_main <%topentry_year>/<%topentry_month>/<%topentry_day>
          .title <%topentry_title>
          .meta.color_font_main Category: <%topentry_category>
    // /topentry
  footer.clearfix.both
