// index_area
article.activity_list
  //- エントリーリスト
  section.widget.recent_entry_list
    h1 Recent Blog Entries
    .table
      // topentry
      a(href!="<%topentry_link>")
        .row.clearfix
          .thumbnail
            <%topentry_image_72>
          .text
            .meta <%topentry_year>/<%topentry_month>/<%topentry_day>
            .title <%topentry_title>
            //- .meta.comment_num.color_font_main <%topentry_comment_num> Comments
      // /topentry
    footer.clearfix

  include ../widget/tumblr
  hr.both

  //- 最新コメントリスト
  section.widget.recent_comment_list
    h1 Recent Blog Comments
    .table
      // rcomment
      a(href!="<%rcomment_link>#comment") 
        .row
          .text
            .meta
              <%rcomment_year>/<%rcomment_month>/<%rcomment_day> <%rcomment_name>
            .title
              <%rcomment_etitle>
      // /rcomment
    footer.clearfix

  include ../widget/link_list
// /index_area
//- vim:set expandtab fenc=utf8 sw=2 sts-2
