// permanent_area
// topentry
article.entry
  header
    h1 
      a(href!="<%topentry_link>") <%topentry_title>
    
    section.meta
      span.date <%topentry_year>/<%topentry_month>/<%topentry_day>
      span.comments_count
        | Comments:&nbsp;
        a(href!="#comment") <%topentry_comment_num>
      span.category
        | Category:&nbsp;
        a(href!="<%topentry_category_link>") <%topentry_category>
      span.tags Tags:
        // tag_list
        span.tag
          a(href!="<%url>?tag=<%topentry_tag_list_name>") <%topentry_tag_list_name>
        // /tag_list
  section.content
    <%topentry_body>
  section.content.more
    <%topentry_more>
  include parts/comment_area
  //- include parts/fc2_blog_clap.html
  footer
    nav
      // nextentry
      .next_entry_link
        a(href!="<%nextentry_url>") <%nextentry_title>
        | &nbsp;:Next Entry 
      // /nextentry
      // preventry
      .prev_entry_link
        | Previous Entry:&nbsp;
        a(href!="<%preventry_url>") <%preventry_title>
      // /preventry
      hr.clearfix
// /topentry
// /permanent_area
