//- ブログ著者情報の設定
- author              = "tasy"
- description         = "Ship8 『ライオンのいるサーカス』所属。色々するけど全部中途半端系プレイヤーです。"
- twitterId           = "pso2tasy"
- tumblrBlogUrl       = "http://pso2tasy.tumblr.com" // Tumblr ブログがあればその URL を設定

//- Tumblr から読み込むの最新エントリーについての設定
- tumblrRecentEntries  = 5   // index に表示する Tumblr ブログの最新エントリ数
- tumblrExpirationDate = 30  // 何日以内のものを読み込むか
- tumblrIntervals      = 600 // rssを再読み込みする間隔（秒）
