//- カテゴリーリスト
section.widget.category_list
  h1 Categories
  .table
    // category
    .row
      a(href!="<%category_link>") 
        .text <%category_name>
    // /category
  footer.clearfix
