//- プロフィール
section.widget.bloginfo
  h1 Info
  section.info
    .table
      .row
        .author Author: #{author}
      .row
        .description #{description}

      form.search_form(action="./", method="get", name="search_form")
        .row
          .search Search:
        .row
          input.search_submit(type="submit", value!="&#128269;")
          input.search_word(type="text", name="search")

      .row
        .rss RSS:
      .row
        .description.rss_link
          a(href="/?xml") 最新記事rss

      .row
        .other Other sites:
      .row
        .description
          if twitterId
            .twitter_link
              a(href="https://twitter.com/#{twitterId}") Twitter
          if tumblrBlogUrl
            .tumblr_link
              a(href="#{tumblrBlogUrl}") Tumblr
  footer.clearfix
