//- エントリーリスト
section.widget.recent_entry_list
  h1 Recent Blog Entries
  .table
    // topentry
    a(href!="<%topentry_link>")
      .row.clearfix
        .thumbnail
          <%topentry_image_72>
        .text
          .meta <%topentry_year>/<%topentry_month>/<%topentry_day>
          .title <%topentry_title>
          //- .meta.comment_num.color_font_main <%topentry_comment_num> Comments
    // /topentry
  footer.clearfix
