//- 月別リスト
section.widget.archive
  h1 Archive
  .table
    // archive
    .row
      a(href!="<%archive_link>")
        .text <%archive_year> / <%archive_month> (<%archive_count>)
    // /archive
  footer.clearfix
