address
  div.copyright
    | Template by:
    a(href!="<%url>") Tasy
  div.copyright
    | 当ブログ内で使用するPSO2の画像・固有名詞等の著作権は、株式会社セガに帰属します。
    | (C)SEGA PHANTASY STAR ONLINE 2 公式サイト
    a(href="http://pso2.jp/") http://pso2.jp/
  div.copyright
    | 当ブログ内で使用するPSO2の画像・固有名詞等の「撮影者・加工者としての権利」はTasyに帰属します。
    | この権利については、作者詐称の場合を除いて行使しません。
    a(href="http://pso2.jp/players/support/rule/copyright/") 『ファンタシースターオンライン2』著作物利用ガイドライン
    | の範囲内で自由にご利用ください。文章についても同様です。
    
