address
  div.copyright
    | Template by:&nbsp;
    a(href!="<%url>") #{author}
  div.copyright
    | 当ブログ内で使用するPSO2の画像・固有名詞等の著作権は、株式会社セガに帰属します。
    | (C)SEGA PHANTASY STAR ONLINE 2 公式サイト 
    a(href="http://pso2.jp/") http://pso2.jp/
  div.copyright
    | 当ブログ内で使用する PSO2 の画像・固有名詞等についての「撮影者・加工者としての権利」は、作者詐称の場合を除いて、これを行使しません。
    br
    a(href="http://pso2.jp/players/support/rule/copyright/") 『ファンタシースターオンライン2』著作物利用ガイドライン 
    | の範囲内で自由にご利用ください。文章・ブログテンプレートについても同様です。
    br
    | 他の方のキャラクターが写っている場合は、そちらに対しては利用の可否をご確認ください。
